*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-font: 'Dosis', sans-serif;
    --light-bg: #1B2430;
    --main-color:#E94560;
    --font-color: #fff;
    --transition: .7s;
    --border:2px solid rgb(51, 51, 51);
}
body{
    font-family: var(--main-font);
    overflow: hidden;
}
i{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: var(--main-font);
}


.navbar{
    background-color: var(--light-bg);
    position: fixed;
    border-radius: 5px;
    left: 3px;
    right: 3px;
    top: 50px;
    width: 100%;
    z-index: 99;
    margin: auto;
}
.navbar a{
    transition: var(--transition);
    font-weight: bold;
}
.navbar a:hover{
    transform: translateY(-5px);
}
.btn{
    color: var(--font-color);
    cursor: pointer;
    transition: var(--transition);
}
.btn:hover{
    transform: translateY(-5px);
    color: var(--main-color);
}
.nav-link:hover{
    color: var(--main-color) !important;
}
.navbar .active{
    color: var(--main-color) !important;
}
.navbar span{
    color: var(--font-color);
    cursor: pointer;
    transition: var(--transition);
}
.navbar span:hover{
    transform: translateY(-5px);
    color: var(--main-color);
}
.navbar button{
    color: var(--font-color);
    cursor: pointer;
    transition: var(--transition);
}
.navbar button:hover{
    transform: translateY(-5px);
    color: var(--main-color);
}

.landing{
    background-image: url(image/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
}
.landing .overlay{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
}
.landing .mass{
    position: absolute;
    text-align: center;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    color: #fff;
    font-family: var(--main-font);
}
.landing .mass span{
    color: var(--main-color);
}
.about .about-items{
    position: relative;
    transition: var(--transition);
    overflow: hidden;
    cursor: pointer;
}
.about-items{
    position: relative;
    transition: var(--transition);
    cursor: pointer;
    overflow: hidden;
}
.about-items::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    top: 0;
    right: -100%;
    transition: var(--transition);
    z-index: -1; 
    transform: skewX(180deg);
}
.about-items:hover.about-items::after{
    background-color: var(--main-color);
    color: var(--font-color);
    left: 0;
    transform: skewX(0);
}
.about-items:hover{
    transform: translateY(-15px);
    color: var(--font-color);
}
.catigory{
    background-color: var(--light-bg);
    color: var(--font-color);
}
.catigory h3{
    position: relative;
    font-size: 20px;
}
.catigory h3::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
    bottom: -10px;
    left: 0;
}
.review{
    background: url(image/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.review-items{
    height: 100px;
    width: 100px;
    margin: auto;
    padding-top: 10px;
    position: relative;
}
.review-items::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: var(--transition);
    border: 1px solid var(--main-color);
    box-shadow: 1px 1px 10px var(--main-color);
}
.review-items:hover.review-items::after{
    transform: rotate(60deg);
    border-radius: 50%;
}
#random{
    color: var(--main-color);
}
.to-up{
    font-size: 30px;
    background-color: #000;
    color: var(--light-bg);
    background-color: var(--main-color);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: var(--transition);
    animation: upto 1s infinite alternate;
    z-index: 999;
}
.to-up:hover{
    background-color: #1B2430;
    box-shadow: 5px 5px 10px var(--light-bg);
    color: var(--font-color);
    animation: none;
}
@keyframes upto{
    0%{
        transform: translate(0);
    }
    100%{
        transform: translateY(20px);
    }
}
#loading{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: var(--light-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.movies{
    background-color: var(--light-bg);
}
.movies span{
    width: 20px;
    padding: 0 20px;
    background-color: var(--main-color);
    color: var(--font-color);
}
